# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py

# pygbag build output
build/
web/
dist/

# Large audio file (gunakan song.ogg)
resource/song.wav
